
/*=============================================
=            Color            =
=============================================*/
$primary-color: #2D6CE1;
$primary-color-dark: #174291;
$secondary-color: #FFFFFF;
$light-gray: #ffffff1f;
$dark:   #101018;
$red:#ED6273;


/*=====  End of Color  ======*/



/*=============================================
=            Padding / Margin            =
=============================================*/

$padding-side: 20px;

/*=====  End of Padding / Margin  ======*/


/*=============================================
=            Border            =
=============================================*/

$border-radius-m: 5px;

/*=====  End of Border  ======*/



