@import '../../styles/_variables';

.selector_input__global_container{
        position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    .selector_input__icon{
        position: absolute;
        border-radius: 2px;
        width: 20px;
        right: 5px;
    }
    .selector_input__select{
        z-index: 1;
        appearance: none;
        background-color: $light-gray ;
        height: 38px;
        border: none;
        border-radius: $border-radius-m;
        border: 1px solid transparent;
        color: white;
        padding: 0px 50px 0px 10px;

        &:focus{
            outline: none;
            
            border-color: $primary-color;
        }
    }
}